
@import url('https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Mincho&display=swap');

.title-logo {
  font-family: 'Sawarabi Mincho', serif;
  color: #000;
  font-size: 2rem;
  padding-top: 2%;
}

.dark-mode hr {
  border-color: #5C5682 !important;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    border: none;
    box-shadow: none;
}

.randombutton,
.randombutton:focus,
.randombutton:active {
  outline: none;
  border: none;
  background: none;
  box-shadow: none;
}

.bg-dark {
  background-color: #5C5682 !important;
}

.footer {
  padding: 3%;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 15px;
}

.lightbulb {
  margin-top: -35px;
}

.dark-mode .poem-lightmode {
  display: none;
}

.poem-darkmode {
  display: none
}

.dark-mode .poem-darkmode {
  display: block;
}

.quote {
  padding-left: 40px;
  font-family: 'cardo',serif;
  font-style: italic;
  font-size: 1.3rem;
}

a:hover {
  color: #3a243b;
  text-decoration: line-through;
}
  body {
    transition: background-color 0.3s, color 0.3s;
  }

  p {
    font-family: 'Cardo';
    font-size: 1.3rem;
  }

  h1, h3, h4 {
    font-family: 'Sawarabi Mincho';
  }
  h2 {
    font-family: 'Sawarabi Mincho';
  }
  ul {
    font-family: 'cardo';
    list-style-type: none;

  }
  li a {
    color: #000;
  }

  .dark-mode {
    background-color: #333;
    color: #fff;
  }

  line {
    stroke: black;
  }

  .dark-mode svg{
    fill: #fff;
  }

.dark-mode line {
  stroke: #fff;
}

  .dark-mode .header {
    background-color: #5A5A5A;
    transition: background-color 0.3s, color 0.3s;
  }

a {
  color: #5C5682;
}
  .dark-mode a {
    color: #fff;
  }

  .story-text {
    padding: 1%;
  }

  .poetry-text{
    padding-top: 7%;
    padding-bottom: 7%;
  }


  .wiggle:focus {
        outline: none;
  }

  .wiggle:hover {
  animation: swing 1s ease;
  animation-iteration-count: 1;
  }

  @keyframes swing {
  15% {
  transform: translateX(5px);
  }
  30% {
  transform: translateX(-5px);
  }
  50% {
  transform: translateX(3px);
  }
  65% {
  transform: translateX(-3px);
  }
  80% {
  transform: translateX(2px);
  }
  100% {
  transform: translateX(0);
  }}

  nav {
    font-family: 'Sawarabi Mincho', serif;
  }

.header-container {
  max-width: 850px;
  margin: auto;
}
  .header {
      display: flex;
      align-items: center;
      padding: 2%;
      background-color: #f8f9fa;
      border-radius: 8px;
    }
    .header-image {
      flex: 1;
      padding-right: 2%;
    }
    .header-image img {
      max-width: 100%;
      height: auto;
      border-radius: 5px;
    }
    .divider {
      width: 1px;
      height: 100px;
      background-color: #e9ecef;
      margin: 0 20px;
    }
    .headline {
      flex: 1;
      padding-left: 2%;
    }


@media (max-width:641px) {
  p {
    font-size: 1.1rem;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.6rem;
  }

  h3 {
    font-size: 1.4rem;
  }

  h4 {
    font-size: 1.2rem;
  }

  .mt-5 {
    margin-top: 1.5rem !important;
  }

  .header {display: block;
  margin-left: 10%;
margin-right: 10%;
}
  .divider {
    display: none;
  }
  .headline {
    padding-top: 10px;
  }

}

@media (max-width:975px) {

  .footer p {
   font-size: 8px;
  }

.mt-3 {
    margin-top: 6px !important;
  }

  .first-row {
    padding-top: 1.8rem;
  }

.col-3 {
    padding-left: 3px !important;
    padding-right: 3px !important;
}
.mb-4 {
    margin-bottom: 0px !important;
  }
